@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme: #008000;
  --theme-light: #08ab08ef;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text: #0a0a0a;
    --foreground: #f1eded;
  }
}

body {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

.sd-box:hover{
  box-shadow: 0px 2px 5px lightgray, 2px 3px 5px lightgray;
}

.on-top{
  z-index: 1000 !important;
}